h1 {
  margin: auto;
  padding: auto;
  text-align: left;
  width: 500px;
}

form {
  overflow: hidden;
  margin: auto;
  padding: auto;
  width: 500px;
  text-align: left;
  text-indent: 2px;
}

label {
  float: inherit;
  margin: inherit;
  width: auto;
  padding: auto;
  line-height: 35px;
  margin-bottom: 35px;
}

input:focus {
  border-color: lightgray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button {
  margin: auto;
  padding: auto;
  text-align: center;
  position: relative;
  border-radius: 5px;
  text-overflow: inherit;
}

.boxShadow {
  width: 80%;
  max-width: 550px;
  margin: 1em auto;
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
