.header {
  background-color: #2a2a2a;
  position: sticky;
  top: 0;
  z-index: 3;

  .row {
    @include if-smaller-than(1024px) {
      flex-direction: column;
      justify-content: center;
    }

    justify-content: space-between;
  }

  .logo {
    display: inline-block;
    line-height: $header-height;

    @include if-smaller-than(1024px) {
      text-align: center;
    }

    @include if-smaller-than(550px) {
      display: none;
    }
  }
}

.nav {
  @include if-smaller-than(1024px) {
    display: flex;
    justify-content: space-around;
  }

  @include if-smaller-than(539px) {
    justify-content: center;
  }

  @include if-smaller-than(550px) {
    flex-wrap: wrap;
  }

  &__link {
    @include if-smaller-than(1024px) {
      margin-right: 0;
    }

    @include if-smaller-than(550px) {
      margin: 0 10px;
    }

    @include if-smaller-than(539px) {
      line-height: 40px;
      font-size: 12px;
    }
    
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    line-height: $header-height;
    margin-right: 50px;
    transition: color .4s;

    &:hover {
      color: $c-main; 
    }
  }
}