@mixin if-smaller-than($width) {
  @media screen and (max-width: $width - 1px) {
    @content;
  }
}

@mixin if-bigger-than($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin cell-width($width) {
  width: calc(#{$width} - #{$grid-gap}*2);
}

@mixin decoration {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}