$c-main: #ffe400;
$c-text: #757575;
$main-ff: 'Muli', sans-serif;
$title-ff:'Montserrat', sans-serif;
$comment-ff: 'Lato', sans-serif;
$main-fz: 16px;
$comment-fz: 13px;
$grid-gap: 15px;
$z-index_above: 1;
$z-index_below: -1;
$header-height: 76px;