* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  width: 100%;
  position: relative;
  font-family: "Muli", sans-serif;
  color: #757575;
}

main {
  overflow: hidden;
}

.container {
  padding: 0 15px;
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

.global {
  display: flex;
  flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.joint {
  justify-content: center;
}

.facility {
  margin-left: 15px;
  margin-right: 15px;
}

p {
  letter-spacing: .02em;
  line-height: 1.8em;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 60px;
  color: #444444;
  margin-bottom: 60px;
}

.circle_0 {
  background-color: #ffe400;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: -15px;
  left: -25px;
}

.circle {
  border: solid #ffe400;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.circle_1 {
  width: 200px;
  height: 200px;
  border-width: 36px;
  bottom: 150px;
  right: 325px;
}

.circle_2 {
  width: 745px;
  height: 745px;
  border-width: 140px;
  top: 50px;
  right: -440px;
}

.circle_3 {
  width: 1010px;
  height: 1010px;
  border-width: 210px;
  top: -310px;
  left: -850px;
}

.circle_4 {
  width: 375px;
  height: 375px;
  border-width: 70px;
  right: -425px;
  bottom: 130px;
}

.circle_5 {
  width: 550px;
  height: 550px;
  border-width: 100px;
  right: -340px;
  top: 50px;
  opacity: .1;
}

.circle_6 {
  width: 830px;
  height: 830px;
  border-width: 155px;
  left: -1270px;
  bottom: -230px;
  opacity: .7;
  z-index: 1;
}

.button_contact {
  width: 180px;
  display: inline-block;
  height: 55px;
  line-height: 55px;
  margin-bottom: 20px;
  color: #444;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.banner1 {
  position: relative;
  overflow: hidden;
}

.banner1 .container {
  height: 100vh;
  display: flex;
  position: relative;
}

.banner1_right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #fcfcfc;
}

.banner1_image {
  position: absolute;
  bottom: 0;
  right: -190px;
}

.banner1_left {
  width: 67%;
  margin-top: auto;
  margin-bottom: 24vh;
}

.banner1_left p {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  margin-bottom: 20px;
}

.banner1-label {
  position: relative;
}

.banner1 .banner1_button {
  margin-bottom: 35px;
}

.logo {
  background-color: #2a2a2a;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo .global {
  justify-content: space-between;
}

.logo .about {
  display: inline-block;
  line-height: 76px;
}

.menu-list {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  line-height: 76px;
  margin-right: 50px;
  transition: color .4s;
}

.menu-list:hover {
  color: #ffe400;
}

h2 {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #444;
  margin: 130px 0 30px;
  position: relative;
}

h2 span {
  position: absolute;
  font-weight: 900;
  font-size: 91px;
  bottom: -14px;
  left: 50%;
  transform: translate(-50%);
  color: #f0f0f0;
}

h2.middle {
  font-size: 30px;
}

h2.small {
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 0;
}

h2.small span {
  font-size: 72px;
  bottom: -12px;
  left: -2px;
  transform: none;
}

h2.banner4-section {
  color: #fdfdfd;
  font-size: 44px;
  margin: 0;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #444;
  text-transform: uppercase;
}

.pressbutton {
  text-align: center;
}

.pressbutton_key {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
  width: 225px;
  height: 62px;
  color: #ffe400;
  background-color: #000;
  border: 1px solid #a6a6a6;
  line-height: 62px;
  transition: background-color .4s, border-color .4s, color .4s;
}

.pressbutton_key:first-child {
  margin-right: 25px;
}

.pressbutton_key:hover {
  background-color: #ffe400;
  border-color: #ffe400;
  color: #000;
}

.pressbutton_transparent {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}

.pressbutton_white {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 13px;
  background-color: #fff;
  color: #212121;
}

.pressbutton_white:hover {
  color: #000;
}

.banner2 {
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
}

.banner2_decoration {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.banner_decoration .img2 {
  position: absolute;
  bottom: -260px;
  right: -450px;
}

.banner2_brief {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  width: 83.5%;
  margin: 0 auto 65px;
}

.banner2 .pressbutton {
  margin-bottom: 80px;
}

.plus {
  margin-bottom: 170px;
  position: relative;
}

.decor {
  width: 30%;
  border: 1px solid #aaaaaa;
  background-color: #212121;
  text-align: center;
  height: 400px;
  margin-left: 20px;
  overflow: hidden;
  box-shadow: 0 0 0;
}

.decor:hover {
  background-color: #ffe400;
  border-color: #ffe400;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.design_decor {
  display: flex;
}

.design_decor_col {
  margin: auto;
  width: 100%;
  position: relative;
  transition: transform .5s;
}

.design_decor_star {
  font-size: 100px;
  color: #ffe400;
  margin-bottom: 35px;
  transition: transform .5s, color .5s;
}

.design_decor_star .banner2-pic {
  background-color: transparent;
}

.design_decor_full {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.design_decor_full h4 {
  color: #fff;
}

.design_decor_lorem {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 111%;
  color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  opacity: 0;
  transform: scaleY(1.2);
  transition: opacity .5s, transform .5s;
}

.design_decor:hover .design_decor_lorem {
  opacity: 1;
  transform: translateY(-70px) scaleY(1);
  transition-delay: .1s;
}

.total {
  padding-bottom: 140px;
}

.total_full h2 {
  font-size: 30px;
  margin-bottom: 115px;
}

.total-number {
  width: 100%;
}

.sum {
  width: 20%;
  display: flex;
  justify-content: center;
}

.resum_0 {
  text-align: left;
}

.sum_numeral {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 46px;
  color: #444;
}

.sum_full {
  font-family: "Muli", sans-serif;
  font-size: 13px;
}

.banner3 .banner3_button {
  margin-bottom: 115px;
}

.banner3_decoration {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #fafafa;
}

.banner3_decoration .lamp {
  position: absolute;
  left: -320px;
  top: 0;
}

.banner3_decoration .run {
  position: absolute;
  right: -590px;
  bottom: 120px;
}

.banner3 .global {
  width: 52%;
  position: relative;
}

.banner3_full {
  margin-top: 200px;
  margin-bottom: 50px;
}

.banner3_brief {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  margin-bottom: 50px;
}

.banner3_list {
  width: 100%;
  margin-bottom: 20px;
}

li {
  list-style-type: none;
}

ul {
  list-style-image: url(image/banner3-star.png);
}

.banner4 {
  position: relative;
  background-image: url(image/banner4.png);
  background-size: cover;
}

.banner4:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: .6;
}

.banner4_decoration {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  z-index: -1;
}

.banner4_are {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 135px;
}

.banner4_are .global {
  margin: 0 auto;
  width: 68%;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.banner4_are .layer {
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
}

.banner4_are .layer img {
  width: 229px;
  height: 41px;
}

.banner4_are h2 {
  text-align: center;
  margin-bottom: 30px;
}

.banner4_are p {
  color: #fdfdfd;
  margin-bottom: 60px;
  text-align: center;
}

.banner5 {
  background-color: #fff;
  padding-bottom: 100px;
}

.banner5_full {
  padding-top: 170px;
}

.banner5_content {
  margin-top: 130px;
}

.trendy {
  width: 30%;
  display: flex;
  margin-bottom: 65px;
}

.icon {
  align-items: center;
  padding-left: 22px;
}

.banner5-item__icon {
  margin-right: 20px;
}

.banner5-item__icon .icon {
  display: flex;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  font-size: 25px;
}

.banner5-item__icon .block3 {
  background-color: #c183d6;
}

.banner5-item__icon .block9 {
  background-color: #4be3a4;
}

.banner5-item__icon .block8 {
  background-color: #718ac7;
}

.banner5-item__icon .icon:before {
  margin: auto;
}

.block1, .block5 {
  background-color: #73c8b7;
}

.block2, .block6 {
  background-color: #31aae2;
}

.block4 {
  background-color: #eb768c;
}

.block7 {
  background-color: #ebd175;
}

.banner5_brief_full {
  margin-bottom: 30px;
}

.banner6 {
  background-color: #ffe400;
  background-image: url(image/base_banner_6.png);
}

.banner6_full {
  padding-top: 150px;
}

.work {
  margin-top: 65px;
  margin-bottom: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.worked {
  margin: 0 7px;
}

.works {
  display: block;
  padding: 12px 15px;
  border: 1px solid #000;
  transition: background-color .4s;
}

.works:hover {
  background-color: #000;
}

.works:hover p {
  color: #fff;
}

.works:first-child {
  background-color: #000;
}

.works p {
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 13px;
  transition: color .4s;
}

.photo {
  display: flex;
  flex-wrap: wrap;
}

.photography {
  width: 25%;
}

.pix {
  position: relative;
  overflow: hidden;
}

.pix:hover .pix_hover {
  opacity: 1;
  transform: translateY(0);
}

.pix_img {
  padding-top: 90%;
}

.pix_img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transform: scale(1.1) translateZ(0);
  transition: transform .4s;
}

.pix_hover {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity .3s, transform .3s;
}

.pix_hover h5 {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #444;
  text-transform: uppercase;
  padding: 20px 30px;
}

.pix_hover h5 b {
  font-family: "Muli", sans-serif;
  font-size: 10px;
  color: #757575;
}

.pix_icons {
  position: absolute;
  top: -15px;
  right: 20px;
  display: flex;
  padding: 10px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.7) 15px, transparent 15px);
  border-radius: 20px;
}

.pix_icons a {
  color: #000;
  display: block;
  text-align: center;
  line-height: 31px;
  width: 33px;
  height: 33px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color .4s, border-color .4s;
}

.pix_icons a:first-child {
  margin-right: 10px;
}

.banner7 {
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

.banner7 .ban {
  position: absolute;
  left: 0;
  bottom: 0;
}

.banner7_decoration {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  z-index: 1;
}

.banner7 .container {
  text-align: right;
}

.banner7 .joint {
  width: 52%;
  margin-left: auto;
  position: relative;
}

.banner7_full {
  padding-top: 200px;
  width: 100%;
  text-align: right;
  z-index: 1;
}

.banner7_full span {
  bottom: -15px;
  left: -2px;
  transform: none;
}

.job {
  padding-top: 135px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}

.job_item {
  width: 43%;
  text-align: center;
  margin-bottom: 110px;
}

.job_icon {
  font-size: 30px;
  margin-bottom: 35px;
}

.job_full {
  padding: 0 15px;
}

.job_brief {
  padding: 0 15px;
  margin-bottom: 35px;
}

.banner8 {
  position: relative;
  background-image: url(image/base_banner_8.png);
  background-size: cover;
}

.banner8:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffe400;
  opacity: .8;
}

.banner8_full {
  padding-top: 140px;
}

.price_list {
  margin-top: 140px;
}

.price {
  padding-bottom: 105px;
}

.price_item {
  width: 30%;
  z-index: 1;
}

.rate {
  background-size: cover;
}

.rate h6 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0 20px;
  letter-spacing: 2px;
}

.rate .worth {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: normal;
}

.rate .worth sup {
  font-weight: 400;
  font-size: 36px;
}

.rate .worth sub {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.rate .brief {
  font-family: "Muli", sans-serif;
  font-size: 13px;
  color: #dbdbdb;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 30px;
}

.rate_accent {
  position: relative;
}

.rate_accent:before {
  position: absolute;
  content: attr(data-title);
  font-size: 15px;
  background-color: #e6e6e6;
  width: 100%;
  text-align: center;
  bottom: 100%;
  padding: 15px 0;
}

.cost_list {
  background-color: #fff;
  text-align: center;
}

.cost_list p {
  line-height: normal;
  font-size: 13px;
  padding: 20px 0;
  border-bottom: 1px solid #f0f0f0;
}

.cost_list p:first-child {
  padding-top: 80px;
}

.banner8_button {
  display: block;
  text-align: center;
  margin-top: 4px;
  width: 296px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 15px 0;
  transition: background-color .4s, color .4s;
}

.banner8_button:hover {
  background-color: #ffe400;
  color: #ef08c1;
}

.banner9 {
  background-color: #fff;
}

.crew {
  margin-top: 130px;
  margin-bottom: 130px;
}

.lower {
  width: 26%;
  position: relative;
  overflow: hidden;
}

.lower_photo {
  position: relative;
  padding-top: 111%;
  background-color: #ebebeb;
}

.lower_photo img {
  width: 100%;
  height: 100%;
  top: 25px;
  left: 0;
  position: absolute;
  object-fit: cover;
  object-position: top center;
}

.lower_brief {
  text-align: center;
  margin-top: 8px;
  background-color: #ebebeb;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.lower_brief h6 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 25px 0;
  margin: 0 20px;
  border-bottom: 1px dashed #b7b7b7;
  color: #444;
}

.lower_brief p {
  padding: 25px 0;
  line-height: normal;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 11px;
  color: #444;
}

.lower_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffe400;
  opacity: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: opacity .4s;
}

.lower:hover .lower_hover {
  opacity: 1;
}

.hang {
  display: flex;
  flex-direction: column;
}

.hang_content {
  flex-grow: 1;
}

.hang:hover .hang_content {
  transform: translateY(0);
}

.hang_content h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #000;
  margin: 90px 0 20px;
  text-transform: uppercase;
}

.hang_content h6 {
  text-transform: uppercase;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-bottom: 70px;
}

.lower:hover .hang_content h6 {
  transform: translateY(0);
  opacity: 1;
  transition-delay: .05s;
}

.hang_content p {
  color: #000;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 0 30px;
  transform: translateY(50px);
  opacity: 0;
}

.lower:hover .hang_content p {
  transform: translateY(0);
  transition-delay: .1s;
  opacity: 1;
}

.hang_social {
  margin: 0 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 0;
}

.banner10 {
  background-image: url(image/base_banner_10.png);
  background-size: cover;
  position: relative;
  padding-bottom: 105px;
}

.banner10:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: .7;
}

.banner10 .global {
  flex-direction: column;
}

.banner10_full {
  text-align: center;
  color: #fff;
  margin: 100px 0 10px;
}

.point {
  text-align: center;
  color: #fff;
  line-height: normal;
  z-index: 1;
  margin-bottom: 105px;
}

.banner10 .pressbutton {
  z-index: 1;
}

.banner11 {
  background-color: #fff;
}

.banner11_new {
  margin-top: 115px;
}

.person {
  margin-bottom: 160px;
}

.famous {
  width: 20%;
}

.great_poster {
  position: relative;
  padding-top: 72%;
}

.great_poster img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.great_poster .data {
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #444;
  display: block;
  position: absolute;
  padding: 10px 35px;
  border-radius: 25px;
  z-index: 1;
  background-color: #fff;
  bottom: 0;
}

.great_full {
  margin: 45px 0 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #444;
}

.great_note {
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin: 5px;
}

.banner11 a:hover {
  background-color: #ffe400;
  border-color: #000;
}

.great_info {
  font-size: 14px;
  margin-bottom: 30px;
  padding: 0 15px;
  text-align: center;
}

.great_button {
  text-align: center;
}

.great_button a {
  display: inline-block;
  padding: 9px 20px;
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 10px;
  color: #444;
  text-transform: uppercase;
  transition: background-color .5s, border-color .5s;
}

.great_button a:hover {
  background-color: #ffe400;
  border-color: #000;
}

.banner12 {
  background-image: url(image/base_banner_12.png);
  background-size: cover;
}

.contact__title {
  padding-top: 160px;
}

.contact__form {
  margin-top: 170px;
}

.contact-form {
  padding-bottom: 125px;
}

.contact-form__item {
  width: 100%;
  margin-bottom: 30px;
}

.contact-form__item input {
  width: 100%;
  padding: 20px;
  font-family: "Muli", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #808080;
  border: 1px solid #dedede;
  outline-color: #ffe400;
}

.contact-form__item input::-webkit-input-placeholder {
  font-size: 14px;
}

.contact-form__item input:-moz-placeholder {
  font-size: 14px;
}

.contact-form__item input:focus {
  color: #000;
}

.contact-form__item input:focus::-webkit-input-placeholder {
  color: #ffe400;
}

.contact-form__item textarea {
  width: 100%;
  padding: 20px;
  font-family: "Muli", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #808080;
  border: 1px solid #dedede;
  outline-color: #ffe400;
  resize: none;
  height: 505px;
}

.contact-form__item textarea::-webkit-input-placeholder {
  font-size: 14px;
}

.contact-form__item textarea:-moz-placeholder {
  font-size: 14px;
}

.contact-form__item textarea:focus {
  color: #000;
}

.contact-form__item textarea:focus::-webkit-input-placeholder {
  color: #ffe400;
}

.contact-form__item:nth-child(5) {
  width: 100%;
}

.banner13 {
  background-image: url(image/map.png);
  text-align: center;
  position: relative;
}

.banner13:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffe400;
  opacity: .8;
}

.map_banner {
  position: relative;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 165px;
  z-index: 1;
}

.map_banner span {
  margin-left: 30px;
  font-size: 25px;
}

.footer_social {
  background-color: #212121;
  padding: 60px 0;
}

.footer_social .global {
  justify-content: space-between;
  align-items: center;
}

.col2 a {
  margin: 15px;
  color: #fff;
  transition: color .4s;
}

.col2 a:hover {
  color: #ffe400;
}

.footer-contact {
  font-style: normal;
  position: relative;
}

.phone_footer {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  line-height: 47px;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  font-size: 25px;
  border: 1px solid #7e7e7e;
  border-radius: 50%;
  transition: color .4s, border-color .4s;
}

.footer-contact:hover .phone_footer {
  color: #ffe400;
  border-color: #ffe400;
}

.tel {
  color: #fff;
  font-size: 13px;
  transition: color .4s;
}

.tel:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
}

.footer-contact:hover .tel {
  color: #ffe400;
}

.footer_All {
  background-color: #2e2d2d;
}

.footer_All p {
  line-height: 40px;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
