* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  font-size: 14px;
  font-family: 'lato', 'Montserrat', 'Muli', 'Poppins', 'Helvetica', 'Arial', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}

span {
  position: absolute;
  font-weight: 900;
  font-size: 91px;
  bottom: -14px;
  left: 50%;
  transform: translate(-50%);
  color: rgba(68, 68, 68, 0.12);
}

.banner1 {
  position: relative;
  overflow: hidden;
}
.banner1 .container {
  height: 100vh;
  display: flex;
  position: relative;
}
.banner1 .banner_right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #fcfcfc;
}
.banner1 .circle {
  border: solid #ffe400;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}
.banner1 .circle_1 {
  width: 200px;
  height: 200px;
  border-width: 36px;
  bottom: 150px;
  right: 515px;
}
.banner1 .circle_2 {
  width: 745px;
  height: 745px;
  border-width: 140px;
  top: 50px;
  right: -440px;
}
.banner1 h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 60px;
  color: #444444;
  margin-bottom: 60px;
}
.banner1 .circle_0 {
  background-color: #ffe400;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.banner1 .banner-label {
  position: relative;
}
.banner1 .banner1_image {
  position: absolute;
  bottom: 0;
  right: -190px;
}
.banner1 img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
}
.banner1 .banner_left p {
  width: 67%;
  margin-top: auto;
  margin-bottom: 24vh;
}
.banner1 p {
  letter-spacing: .02em;
  line-height: 1.8em;
}

.button_contact {
  width: 180px;
}
.button_contact .button {
  display: inline-block;
  width: 100%;
  height: 56px;
  line-height: 56px;
  color: #444;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.logo {
  background-color: #2a2a2a;
  position: sticky;
  top: 0;
  z-index: 3;
}
.logo .container {
  padding: 0 15px;
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}
.logo .logo_menu {
  display: flex;
  flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: space-between;
}
.logo .menu_container {
  margin-left: 15px;
  margin-right: 15px;
}
.logo .LOGO {
  display: inline-block;
  line-height: 76px;
}
.logo .menu-list {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  line-height: 76px;
  margin-right: 50px;
  transition: color .4s;
  text-decoration: none;
}
.logo a:hover {
  color: yellow;
}

.banner12 {
  background-image: url(image/base_banner_12.png);
  background-size: cover;
}
.banner12 .section {
  display: flex;
  flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.banner12 h2 {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #444;
  margin: 130px 0 30px;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}
.banner12 .banner12_section {
  justify-content: center;
}
.banner12 .form_input {
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 15px*2);
  margin-bottom: 30px;
}
.banner12 .form_input:nth-child(5) {
  width: calc(100% - 15px*2);
  margin-bottom: 30px;
}

.banner13 {
  background-image: url(image/map.png);
  text-align: center;
  position: relative;
}

.map_banner {
  position: relative;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 165px;
  z-index: 1;
  text-decoration: none;
  padding-left: 10px;
}

.banner13:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffe400;
  opacity: .8;
}

.footer_social {
  background-color: #212121;
  padding: 60px 0;
  justify-content: space-between;
  align-items: center;
}
.footer_social .social_col {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px;
  color: white;
}
.footer_social .social_col a:hover {
  color: orange;
}
.footer_social .phone_footer {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  line-height: 47px;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  font-size: 25px;
  border: 1px solid #7e7e7e;
  border-radius: 50%;
  transition: color .4s, border-color .4s;
}

.footer_All {
  background-color: #2e2d2d;
}
.footer_All p {
  line-height: 40px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  letter-spacing: .02em;
}

/*# sourceMappingURL=main.css.map */
