*,
*:before,
*:after{box-sizing: border-box;}

body {background: #fff  ;}
a {text-decoration: none;}
p, h3, h4 {margin: 0;}
ul {
    padding:0;
    list-style: none;
}

.paragraph {
  text-align: left;
  color: #8d8f92;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.white-text-header {
  color: #ffffff;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.black-text-header {
  color: #292f36;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.about {
  width: 650px;
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.little-title {
  margin: 0;
  color: #292f36;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.right-about-header {
  margin: 0;
  height: 14px;
  color: #292f36;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.whitehead {
  color: #ffffff;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
}

.name-team-header {
  color: #292f36;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.paragraph-team {
  color: #8d8f92;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.contact-input {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #8d8f92;
}

.copyright {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.banner-text {
  color: #ccd0d7;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.wrapper {
  max-width: 1142px;
  min-width: 320px;
  margin: 0 auto;
}

/* TOP section header*/
.header {background-color: #1d2126;}

.top {
  height: 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu {
  width: 626px;
  display: flex;
  margin-right: 12px;
}

.logopic {
  padding-top: 6px;
}

.menu-button-home {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  border: 2px solid #23b7a4;
  border-radius: 4px;
  font-size: 14px;
  color: #23b7a4;
  transition: all 0.4s ease 0s;
  margin-right: 14px;
  margin-left: 5px;
}

.menu-button-home:hover {
  color: #a4aead;
  border-color: #494949;
  transition: .4s;
}

.menu-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #a4aead;
  text-transform: uppercase;
  border: 2px solid #1d2126;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 15px;
}

.menu-button:hover {
  border: 2px solid #494949;
  transition: .4s;
}

/* banner section*/
.banner {
  height: 660px;
  background: url(image/background.png) no-repeat;
  background-size: cover;
}

.banner-inside {
  padding-top: 220px;
  height: 410px;
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.banner-text {
  color: #ccd0d7;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin-top: -18px;
  width: 649px;
}

.two-button-banner {display: flex;}

.button-banner {
  margin-right: 11px;
  width: 124px;
  height: 44px;
  color: #fff;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 6px;
  text-align: center;
  padding-top: 12px;
}

.button-banner:hover {
  background-color: #23b7a4;
  border: 2px solid #23b7a4;
  transition: .4s;
}

/* about section*/
.about-section {
  height: auto;
  max-height: auto;
}

.borderleft-header {
  display: flex;
  align-items: center;
  padding-top: 78px;
  padding-bottom: 10px;
}

.box-h2 {
  width: 10px;
  height: 35px;
  background-color: #e1e6ea;
  margin-right: 10px;
  margin-left: 2px;
}

.flex-column {
  display: flex;
  flex-direction: row;
}

.text {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 222px;
}

.about-sizing {
  margin-top: 26px;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  margin: 52px 0 40px;
}

.social-icons a {
  width: 60px;
  height: 60px;
  margin-right: 1px;
  padding: 16px;
  display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: #23b7a4;
	color: #fff;
	font-size: 24px;
	text-decoration: none;
}

.social-icons a:hover {
  background: #d0d5d9;
}

.section {
  display: column;
  padding-top: 46px;
}

.flex-column-right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 2px 0 34px 35px;
}

.block-number {
  background-color: #23b7a4;
  min-width: 50px;
  min-height: 50px;
  text-align: center;
  padding-top: 4px;
}

.header-text {
  margin: 0 0 0 20px;
}

.corect {
  margin-top: 12px;
}

.wearemodest {
  margin-bottom: 100px;
}

/* Line section */
.line {

  width: 100%;
  height: 3px;
  background-color: #dde1e4;
}

/* our team block */
.ourteam {
  text-align: center;
  height: 648px;
}

.line-fotos {
  margin: 42px 0 0 2px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto;
  grid-column-gap: 18px;
}

.foto {
  position: relative;
  max-width: 100%;
  max-height: auto;
  background-color: #e1e6ea;
  text-align: left;
}

.foto img {
  display: grid;
  width: 100%;
}

.pos-name {
  height: 50px;
  margin: 18px auto auto 20px;
}

.foto-nav-container {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.foto-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  margin: 124px 0 0 0;
  justify-content: center;
}

.foto-nav-item {
  width: 50px;
  height: 50px;
  background: #ff4747;
  margin-right: 1px;
}

.social_item a {
  display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
  background-color: #4e5a62;
	color: #fff;
}

.foto:hover .foto-nav-container {
  display: block;
}

.foto:hover .name-team-header,
.foto:hover .paragraph-team {
  color: white;
}

.foto-nav-item:hover {
  background-color: #d0d5d9;
  transition: .4s;
}

.foto:hover {
  background-color: #3a454d;
  transition: .4s;
}

/* WORK */
.work {
  height: 898px;
  background-color: #3a454d;
}

.pic {
  padding-left: 2px;
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-column-gap: 30px;
  grid-row-gap: 32px;
  z-index: 1;
  width: 100%;
}

.pictures-area {
  width: 100%;
  margin-top: 42px;
}

.hit-pic {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
}

.hit-pic img {
  display: grid;
  width: 100%;
}

.plus {
  display: none;
  position: absolute;
  color: #fff;
  font-size: 52px;
  margin-top: 36px;
  margin-left: -5px;
}

.pic-name {
  bottom: 0;
  display: none;
  position: absolute;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 20px;
}

.work-head {
  padding-left: 20px;
  color: white;
}

.hit-pic img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.hit-pic:hover .pic-name {
  display: block;
  width: 100%;
  cursor: pointer;
}

.hit-pic:hover .pic-name {
  color: white;
}

.hit-pic:hover .plus {
  display: block;
  color: white;
}

.box-h3 {
  width: 10px;
  height: 35px;
  background-color: #4e5a62;
  margin-right: 10px;
}

.work-block {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.work-block:hover {
  display: block;
  z-index: 99;
}

.button-block-work {
  display: flex;
  justify-content: center;
  margin-left: 18px;
  margin-top: 60px;
}

.button-work {
  margin-right: 11px;
  width: 148px;
  height: 44px;
  color: #fff;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 5px;
  text-align: center;
  padding-top: 12px;
}

.button-work:hover {
  background-color: #23b7a4;
  border: 2px solid #23b7a4;
  transition: .4s;
}

/* services section */
.grid-services {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 220px;
  grid-column-gap: 38px;
  grid-row-gap: 90px;
  width: 1140px;
  height: 696px;
}

.serv {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 216px;
}

.cntr {
  text-align: center;
  margin-top: 20px;
  color: #8d8f92;
  font-weight: 400;
  line-height: 26px;
}

.serv h4 {
  margin-top: 32px;
}

.serv a:hover{
  transition: 0.3s;
}

/* features section */
.features {
  height: 732px;
  background-color: #3a454d;
}

.pic-features {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 18px;
  margin-top: 48px;
}

.widthpic {
  width: 100%;
  height: auto;
}

.flex-pic {
  color: #dcdfe1;
  line-height: 26px;
  max-width: auto;
}

.white {
  color: white;
  padding-top: 42px;
  padding-bottom: 20px;
}

/* contatcs */
.contact {
  height: 880px;
}

.contacts-add-form {display: flex;}

.contacthead {
  margin-top: -15px;
  font-weight: bold;
}

.text-contacts {
  padding-top: 56px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  width: 534px;
}

.contacthead2 {
  font-size: 18px;
  font-weight: bold;
}
.map-block {
  background-image: url(map.html);
  background-size: cover;
  width: 100%;
  height: 350px;
  z-index: 1;
  margin-top: 44px;
}


.cont {
  margin-top: 32px;
  width: 100%;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 400px;
  background-color: #fff;
  z-index: 99;
  margin: -400px auto auto 580px;
}

.contact-line {
  display: block;
  padding-right: 0px;
  margin: 20px 16px 0 0 ;
}

.flex-contact-line {
  display: flex;
  margin: 8px auto auto 70px;
}

.contact-message {
  margin: 8px auto auto 70px;
}

.input-1 {
  width: 100%;
  height: 44px;
  background-color: #eaeef1;
  border: 0;
  border-radius: 4px;
}

.input-2 {
  width: 210%;
  height: 159px;
  background-color: #eaeef1;
  border: 0;
  border-radius: 4px;
}

.button-block-contact {
  display: flex;
  margin: 24px auto auto 70px;
}

.button-contact {
  margin-right: 11px;
  width: 148px;
  height: 44px;
  background-color: #23b7a4;
  color: #fff;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
  padding-top: 13px;
}

.button-contact:hover {
  background-color: grey;
  transition: .4s;
}

/*footer*/
.footer {
  background-color: #3a454d;
}
.footer-align {
  display: flex;
  height: 95px;
  align-items: center;
  justify-content: space-between;
}

.social-icons-footer {
  display: flex;
  flex-wrap: wrap;
}

.social-icons-footer a {
  width: 34px;
  height: 34px;
  margin: 0;
  padding: 0px;
  display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: #fff;
}

.social-icons-footer a:hover {
  background: #d0d5d9;
}
