extends ../layout 

block vars
  -title= 'MARVEL'
  
block content
  div.wrapper
    include ../blocks/banner 
    include ../blocks/header
    main
      include ../blocks/about
      include ../blocks/responsive
      include ../blocks/who-we-are
      include ../blocks/features
      include ../blocks/work
      include ../blocks/service
      include ../blocks/pricing
      include ../blocks/team
      include ../blocks/question
      include ../blocks/blog
      include ../blocks/contact