section.banner#home
  div.container
    div.banner__decoration
      div.circle-border.circle-border_size-1(data-jarallax data-jarallax-element="-70")
      div.circle-border.circle-border_size-2(data-jarallax data-jarallax-element="140")
      img(src="img/man.png" alt="")  
    div.banner__content
      div.circle
      div.banner-sl
        +slide({
          title: 'CREATIVE <br>AND PROFESSIONAL',
          text: 'Use, by you or one client, in a single end product which end users are not charged for. Use, by you or one client, in a single end product which end users are not charged for.'
        })
        +slide({
          title: 'RESPONSIVE <br>DESIGN',
          text: 'Use, by you or one client, in a single end product which end users are not charged for. Use, by you or one client, in a single end product which end users are not charged for. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, est. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, sed!'
        })
        +slide({
          title: 'PERFECT <br>SERVICE',
          text: 'Use, by you or one client, in a single end product which end users are not charged for.'
        })
      +single-button('', 'contact us')
      div.banner__toggle