link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet")
link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
link(rel="stylesheet" href="css/main.css")