section.features
  div.container
    div.row.row_align-center
      +title('cell features__title middle', 'We are Creative Crafting With Love', 'features')
    div.row.features__content
      +features-item('icon icon-lock-1', 'Powerful Security', 'Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.')
      +features-item('icon icon-lightbulb', 'Creative Ideas', 'Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.')
      +features-item('icon icon-cog', 'Powerfull Admin Panel', 'Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.')
      +features-item('icon icon-mic', 'High Resolution Theme', 'Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.')
      +features-item('icon icon-glasses', 'Awesome Interface', 'Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.')
      +features-item('icon icon-direction', 'Untimade Website Build', 'Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.')
      +features-item('icon icon-laptop', 'Responsive Theme', 'Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.')
      +features-item('icon icon-bell', 'Custom Content Blocks', 'Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.')
      +features-item('icon icon-camera', 'TRENDY DESIGN', 'Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.')