header.header
  div.container
    div.row
      a.cell.logo(href="#home" title="Home")
        img(src="img/logo.png" alt="MARVEL")
      nav.cell.nav
        +nav-link('#home', 'home')
        +nav-link('#service', 'service')
        +nav-link('#about', 'about')
        +nav-link('#portfolio', 'portfolio')
        +nav-link('#team', 'team')
        +nav-link('#blog', 'blog')
        +nav-link('#contact', 'contact')