script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
script(src="https://unpkg.com/jarallax@1.10/dist/jarallax.min.js")
script(src="https://unpkg.com/jarallax@1.10/dist/jarallax-element.min.js")
script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
script(type="text/javascript" src="js/common.js")
