section.pricing
  div.container
    div.row.row_align-center
      +title('cell middle pricing__title', 'Choose your plan', 'pricing')
    div.row.pricing__options.pricing-options
      div.cell.pricing-options__item.pricing-item
        div.pricing-item__header(style="background-image: url(./img/img_dark_1.jpg);")
          h6 Standart
          p.price
            sup $
            | 107 
            span / month
          p.descr 15 day free trial on all accounts
        div.pricing-item__list
          p &gt; 10 Pages Website
          p &gt; Sell 1 Product & Accept Donations
          p &gt; Developer Platform
          p &gt; 20 Pages, Galleries
          p &gt; 120 GB Cloud Storage
          p -
          p -
        a.pricing-item__button(href="#") Get Started Now
      div.cell.pricing-options__item.pricing-item.pricing-item_accent
        div.pricing-item__header(style="background-image: url(./img/img_dark_2.jpg);" data-title="Most popular")
          h6 Premium
          p.price
            sup $
            | 433 
            span / month
          p.descr 15 day free trial on all accounts
        div.pricing-item__list
          p &gt; 10 Pages Website
          p &gt; Sell 1 Product & Accept Donations
          p &gt; Developer Platform
          p &gt; 90 Pages, Galleries
          p &gt; 500 GB Cloud Storage
          p &gt; Mobile Website and Store
          p -
        a.pricing-item__button(href="#") Get Started Now
      div.cell.pricing-options__item.pricing-item
        div.pricing-item__header(style="background-image: url(./img/img_dark_3.jpg);")
          h6 Ultimate
          p.price
            sup $
            | 1233 
            span / month
          p.descr 15 day free trial on all accounts
        div.pricing-item__list
          p &gt; 10 Pages Website
          p &gt; Sell 1 Product & Accept Donations
          p &gt; Developer Platform
          p &gt; 90 Pages, Galleries
          p &gt; 500 GB Cloud Storage
          p &gt; Mobile Website and Store
          p &gt; 24/7 Support
        a.pricing-item__button(href="#") Get Started Now