section.question
  div.container
    div.row.row_align-center
      h2.cell.question__title Are You Impressed By Our Work?
      p.cell.question__comment Durabitur commodo ras non urna mauris mollis auctor proin laoreet
      div.content-buttons
        +content-button('content-buttons_white', 'PURCHASE NOW')
        +content-button('content-buttons_white', 'GET IN TOUCH')