section.service#service
  img(src="img/people.jpg" alt="alt")
  div.container
    div.row
      div.cell.service__title
        +title('middle', 'CLEAN IDEA AND UNIQUE DESIGN', 'service')
    div.row.row_align-center
      div.service__decoration
        div.circle-border.circle-border_size-6(data-jarallax data-jarallax-element="70 -150")
      div.row.service__content.service-content
        +service-item('icon-cog', 'Excellent Features', 'Lorem ipsum doloar sit amet meconstur adipiscing.')
        +service-item('icon-camera', 'Simple & Clean', 'Lorem ipsum doloar sit amet meconstur adipiscing.')
        +service-item('icon-briefcase-1', 'Parallax Effect', 'Lorem ipsum doloar sit amet meconstur adipiscing.')
        +service-item('icon-bell', '>24/7 Support', 'Lorem ipsum doloar sit amet meconstur adipiscing.')