section.team#team
  div.container
    div.row.row_align-center
      +title('cell middle team__title', 'Meet our team', 'expert')
    div.row.team__employee.team-employee
      +employee-item({
        photo: 'img/employee.png',
        name: 'Robert Willson',
        position: 'Web developer',
        descr: 'Lorem ipsum dolor sit amet, nemore latine graecis id est, omnium latine eu per. Has ne illud appetere fabellas, ne quaeque nominati mea.'
      })
      +employee-item({
        photo: 'img/employee_1.png',
        name: 'Alex Willson',
        position: 'Web developer',
        descr: 'Lorem ipsum dolor sit amet, nemore latine graecis id est, omnium latine eu per.'
      })
      +employee-item({
        photo: 'img/employee_2.png',
        name: 'Tina Willson',
        position: 'Web designer',
        descr: 'Lorem ipsum dolor sit amet, nemore latine graecis id est, omnium latine eu per.'
      })