section.who-we-are
  div.container.who-we-are__content.who-we-are-content
    div.row.row_align-center
      div.who-we-are__decoration
        div.circle-border.circle-border_size-5(data-jarallax data-jarallax-element="-70")
      div.cell.logo
        a(href="#home")
          img(src="img/logo.png" alt="alt")
      h2.white Who we are
      p Lorem ipsum dolor sit amet, consectetuer ux adipiscing elit, sed diam nonummy nibh and euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
      div.content-buttons
        +content-button('content-buttons_transparent', 'More info')
        +content-button('content-buttons_transparent', 'Join Experience')